body {
	background-color: #F3F5F2;
	font-family: 'Courier New';
}
/*NAV BAR****************************************/
.name-logo {
	font-family: 'Abel', sans-serif;
	font-size: 2em;
	font-weight: 800;
	color: #3FA43A;
}


#nav-list li a {
	text-decoration: none;
	font-family: 'Abel', sans-serif;
	font-weight: 600;
	color: black;
}

#nav-list li a:hover {
	
}


/*ABOUT ME TAB************************************/
#about-me {
	margin: 5% 0;
}

#about-me img {
	border: solid black;
	border-radius: 5px;
}

#about-me h1 {
	font-weight: 800;
}

#about-me p {
	font-size: 1em;
	text-align: left;
	padding-top: 2%;
	font-weight: 800;
}


/*PROJECTS TAB***********************************/
#projects {
	margin: 7% 0;
}

#projects h1 {
	font-weight: 800;
}

#projects h5 {
	font-weight: 800;
}

#projects a {
	background-color: #3FA43A;
	color: white;
}

#projects .card {
	border: solid;
	border-spacing: 100px;
}


/*CONTACT TAB************************************/
#contact {
	margin: 7% 0;
}

#contact h1 {
	font-weight: 800;
}

#contact label {
	font-weight: 800;
}

#contact button {
	background-color: #3FA43A;
	font-weight: bold;
	border: solid #3FA43A;
	color: white;
	box-shadow: 0 2px 5px grey;
}

#contact h5 {
	color: #3FA43A;
	font-weight: bold;
}

#contact input {
	background-color: #E0E1DB;
	font-weight: bold;
}

#contact textarea {
	background-color: #E0E1DB;
	font-weight: bold;
}

#contact .contacts {
	margin-bottom: 50px;
}

#contact a {
	font-size: 3em;
	color: #3FA43A;
}

#contact #info {
	background-color: #FAFAFA;
	font-weight: bold;
}

#contact #info i {
	 text-shadow: 0 2px 5px grey;
	 margin-right: 8%;
}